<!DOCTYPE html>
<html>
  <head>
    <title>Mailet | Temporary Disposable Email Address</title>

    <meta name="description" content="Use the free temporary disposable email address to send emails, receive email, emails with images, delete email, custom mail address, or random fake email. See all incoming email list, received emails are automatically updated." />
    <meta name="keywords" content="email,fake,send,mail,temporary,disposable,free,receive,delete,custom,random,generate,image,attachment,security,secure,use">
    <meta name="robots" content="index">
<!--     Facebook Open Graph data-->
    <meta property="og:title" content="Mailet | Temporary Disposable Email Address" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.mailet.in" />
    <meta property="og:image" content="/mailet_demo.png" />
    <meta property="og:description" content="Use the free temporary disposable email address to send emails, receive email, emails with images, delete email, custom mail address, or random fake email. See all incoming email list, received emails are automatically updated." />
    <meta property="og:site_name" content="Mailet" />

<!--     Twitter Card data-->
    <meta name="twitter:card" content="/mailet_demo.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="Mailet | Temporary Disposable Email Address" />
    <meta name="twitter:description" content="Use the free temporary disposable email address to send emails, receive email, emails with images, delete email, custom mail address, or random fake email. See all incoming email list, received emails are automatically updated." />
    <meta name="twitter:creator" content="bisho" />
    <meta name="twitter:image:src" content="/mailet_demo.png" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173387940-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173387940-1');
    </script>
  </head>

  <body class="container-fluid p-0">
    <%= render 'shared/header' %>
    <%= yield %>
    <div id='main-app-body' class="'container-fluid p-0'"></div>
    <%= render 'shared/footer' %>
  </body>
</html>
