<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Mailet - Temporary Disposable Free Email Address'%>
    </title>
    <% description = content_for?(:description) ? yield(:description) : "Use free temporary disposable random fake email address to send, receive, delete mail with images and richtext. Secure, anonymous, spam free email generator." %>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="email,fake,send,mail,temporary,disposable,free,receive,delete,custom,random,generate,image,attachment,security,secure,use, mailet.in,mailet,quick,anonymous,account,protect,online,identity,trash,generator,instant,fast,throwaway,richtext">
    <meta name="robots" content="index">
<!--     Facebook Open Graph data-->
    <meta property="og:title" content="Mailet - Temporary Disposable Free Email Address" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.mailet.in" />
    <meta property="og:image" content="/mailet_demo.png" />
    <meta property="og:description" content="Use free temporary disposable random fake email address to send, receive, delete mail with images and richtext. Secure, anonymous, spam free email generator." />
    <meta property="og:site_name" content="Mailet" />

<!--     Twitter Card data-->
    <meta name="twitter:card" content="/mailet_demo.png" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="Mailet - Temporary Disposable Free Email Address" />
    <meta name="twitter:description" content="Use free temporary disposable random fake email address to send, receive, delete mail with images and richtext. Secure, anonymous, spam free email generator." />
    <meta name="twitter:creator" content="Bisho silwal" />
    <meta name="twitter:image:src" content="/mailet_demo.png" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173576841-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173576841-1');
    </script>
  </head>

  <body class="container-fluid p-0">
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
