<!DOCTYPE html>
<html lang="en">
  <head>
    <%= meta_title %>
    <%= meta_keywords %>
    <%= meta_description %>
    <meta name="robots" content="index">
    <%= meta_fb %>
    <%= meta_twitter %>
    <link rel="icon" href="/img/favicon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173576841-1"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
    <!-- include summernote css/js -->
<!--    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>-->

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173576841-1');
    </script>
  </head>

  <body class="container-fluid p-0">
    <%= render 'shared/header' %>
    <div class="container-fluid row m-0 p-0">
      <div id='sidebar' class="col-2 bg-light div-border"> </div>
      <div class="col-10 app-body p-0">
        <div class="container-fluid p-0">
          <div id='main-app-email' class="container-fluid p-0"></div>
          <div id='main-app-body' class="container-fluid p-0"></div>
          <%= yield %>
        </div>
        <div class="container blog">
          <div class="row">
            <div class="col-12">
              <h1>Top Posts</h1>
            </div>
            <div class="col-6 col-md-3 col-sm-4 col-lg-3">
              <div class="post-highlight">
                <a href="/blog/temporary-disposable-email-address"><h2>What is temporary disposable email address?</h2></a>
                <h3>Free email address that can be thrown out after you use it without any worry. Completely working email address without
                  giving any data.
                </h3>
              </div>
            </div>
            <div class="col-6 col-md-3 col-sm-4 col-lg-3">
              <div class="post-highlight">
                <a href="/blog/what-we-offer-at-mailet"><h2>What we offer for you?</h2></a>
                <h3>You can do various kind of email activity on our site. From sending and receiving mail to generating custom mail address.</h3>
              </div>
            </div>
            <div class="col-6 col-md-3 col-sm-4 col-lg-3">
              <div class="post-highlight">
                <a href="#"><h2>Say ‘No’ to spam emails?</h2></a>
                <h3>Spam emails are flooding in our personal mailbox, making hard to get right information at the right time. It's time to get rid of them.
                </h3>
              </div>
            </div>
            <div class="col-6 col-md-3 col-sm-4 col-lg-3">
              <div class="post-highlight">
                <a href="#"><h2>How can an anonymous email protect you from phishing hacker attack?</h2></a>
                <h3>In such a way you decline the probability of getting noxious spam that will be phishing for your data.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_packs_with_chunks_tag "components/sidebar", "components/tempEmailAddressContainer", 'data-turbolinks-track': 'reload' %>
  </body>
</html>
